body {
    background-image: url("./components/images/statue2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.custom {
    background-color: red;

}

#icon {
    padding : 5px;
    
}

#icon1 {
    color: black;
}

h1 {
    color: white;
    margin-left: 175px ;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}